<div class="w-full bg-white px-6 pb-8 mt-4 shadow-xl ring-1 ring-gray-900/5">
    <div class="px-5">
        <div class="flex flex-col items-center">
            <h2 class="mt-5 text-center text-3xl font-bold tracking-tight md:text-5xl">CATEGORÍAS</h2>
            <p class="mt-3 text-lg text-neutral-500 md:text-xl">Actividades por Categorías

            </p>
        </div>
        <div class="mx-auto mt-8 grid max-w-7xl divide-y divide-neutral-200 border">
            <div class="py-5">
                <details class="group">
                    <summary
                        class="px-6 flex cursor-pointer list-none items-center justify-between font-medium text-xl">
                        <span> Caminar</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
                                width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <div class="group-open:animate-fadeIn mt-3 text-neutral-600 grid grid-cols-3 gap-6">
                        <app-main-card *ngFor="let activity of activitiesCaminar" [activity]="activity"></app-main-card>
                    </div>
                </details>
            </div>
            <div class="py-5">
                <details class="group">
                    <summary
                        class="px-6 flex cursor-pointer list-none items-center justify-between font-medium text-xl">
                        <span> Correr</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
                                width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <div class="group-open:animate-fadeIn mt-3 text-neutral-600 grid grid-cols-3 gap-6">
                        <app-main-card *ngFor="let activity of activitiesCorrer" [activity]="activity"></app-main-card>
                    </div>
                </details>
            </div>
            <div class="py-5">
                <details class="group">
                    <summary
                        class="px-6 flex cursor-pointer list-none items-center justify-between font-medium text-xl">
                        <span> Nadar</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
                                width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <div class="group-open:animate-fadeIn mt-3 text-neutral-600 grid grid-cols-3 gap-6">
                        <app-main-card *ngFor="let activity of activitiesNadar" [activity]="activity"></app-main-card>
                    </div>
                </details>
            </div>
            <div class="py-5">
                <details class="group">
                    <summary
                        class="px-6 flex cursor-pointer list-none items-center justify-between font-medium text-xl">
                        <span> Bicicleta</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
                                width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <div class="group-open:animate-fadeIn mt-3 text-neutral-600 grid grid-cols-3 gap-6">
                        <app-main-card *ngFor="let activity of activitiesBicicleta"
                            [activity]="activity"></app-main-card>
                    </div>
                </details>
            </div>
            <div class="py-5">
                <details class="group">
                    <summary
                        class="px-6 flex cursor-pointer list-none items-center justify-between font-medium text-xl">
                        <span> Juegos de Pelota</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
                                width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <div class="group-open:animate-fadeIn mt-3 text-neutral-600 grid grid-cols-3 gap-6">
                        <app-main-card *ngFor="let activity of activitiesPelota" [activity]="activity"></app-main-card>
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>